body {
  margin: 5;
  background-color:#3C3C3E;
}
a {
  color:linen;
  text-decoration: none;
}
h1 {
  color:linen;
  font-size: 45px;
  text-align: center;
  /* border-bottom: 1px solid gray; */
  margin: 0;
  padding: 20px;
}
h1:after {
  content: "";
  display: block;
  width: xxx;
  border-bottom: xxx;
}

button {
  font-size: 10px;
  font-style: italic;
  width: 90px;
  height: 50px;
  border-radius: 5px;
}

div {
  display: inline-block;
  text-align: center;
  border: 1px solid #3C3C3E;
  color: white;
  background: #3C3C3E;
  margin: auto;
}

#local {
  display: block;
  height: 470px;
  width: 90%;
}
#remote {
  height: 220px;
  width: 300px;
  position: relative;
  margin-left: 72%;
  bottom: 170px;
}
#recording {
  height: 150px;
  width: 300px;
  position: relative;
  margin-left: 5%;
}
video {
  max-height: 100%;
  max-width: 100%;
}








